* {
  box-sizing: border-box;
}

body{
  background:          ;
}
#mydad{
  color:#46D635;
  font-size: 24pt;
  font-weight: bold;
}
#mymom{
color:#9C0CDA;
font-size: 24pt;
font-weight: bold;
}
#me{
  color:#FA92F4;
  font-size: 24pt;
  font-weight: bold;
}
#mysister{
color:#9C0CDA;
font-size: 24pt;
font-weight:bold;
}
#secondsis{
  color:blue;
  font-size: 24pt;
  font-weight:bold;
}
#mybrother{
color:#46D635;
font-size: 24pt;
font-weight:bold;
}