* {
  box-sizing: border-box;
}

body{
  background: #bfe9ec;
}
#mydad{
  color:#46D635;
  font-size: 24pt;
  font-weight: bold;
}
#mymom{
color:#8E269E;
font-size: 24pt;
font-weight: bold;
}
#me{
  color:rgb(218, 29, 155);
  font-size:24pt;
  font-weight: bold;
}
#mysister{
color:#9C0CDA;
font-size: 24pt;
font-weight:bold;
}
#secondsis{
  color:blue;
  font-size: 24pt;
  font-weight:bold;
}
#mybrother{
color:#2e87fb;
font-size: 24pt;
font-weight:bold;
}