* {
  box-sizing: border-box;
}

body{
}
#mydad{
  color:#46D635;
  font-size: 24pt;
  font-weight: bold;
}
#mymom{
color:#8E269E;
font-size: 24pt;
font-weight: bold;
}
#me{
  color:#fc29bd;
  font-size:24pt;
  font-weight: bold;
}
#mysister{
color:purple;
font-size: 24pt;
font-weight:bold;
}
#secondsis{
  color:blue;
  font-size: 24pt;
  font-weight:bold;
}
#mybrother{
color:blue;
font-size: 24pt;
font-weight:bold;
}